p{
  font-family:Arial, sans-serif;
  font-size:24px;
  color:Sienna;
  padding:20px;
}
h1{
  font-family: 'Permanent Marker', cursive;
  text-align:center;
  color:#454545;
}
.definition{
  font-family: 'Comfortaa', cursive;
  font-size:30px;
  color:Gray;
  padding:20px;
}
a,pre{
  color:Silver;
  font-family:Arial, sans-serif;
  padding:20px;
}

